@model CourseSite.Models.DAL.Customers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer_EngName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_EngName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_AraName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_AraName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_imagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_imagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Nid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Nid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corporates.Corporates_EngName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corporates.Corporates_EngName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerStatus.Status_EngName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerStatus.Status_EngName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender.Gender_EngName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.Gender_EngName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
