@*@{
    Layout = null;
}*@

@model CourseSite.Models.MainViewModel 
<!DOCTYPE html>
<html lang="en">

<head>
    
    <!--======================================================= -->
</head>

<body>

    <!-- #header -->
    <!--==========================
      Home Section
    ============================-->
    <section id="intro">
        <div class="intro-container wow fadeIn">
            <h2 class="mb-4 pb-0" style="color:#fff;">International Academy for<br> Training,<span style="color:aqua"> Languages, </span>and Consulting</h2>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
               data-autoplay="true"></a>
            <a href="#about" class="about-btn scrollto">@Resources.Main.About</a>
        </div>
    </section>

    <main id="main">

        <!--==========================
          About Section
        ============================-->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>About IATLC</h2>
                        <p>
                            IATLC is an active firm working on fields of Training, Languages and Consulting.
                            Our main objective is to serve clients till reaching their
                            satisfaction by delivering reputable service which has a positive impact on clients’ business.
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <h3>IATLC's Vision</h3>
                        <p>To be among top ten training and consultation firms at Egypt in next five years.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3>IATLC's Mission </h3>
                        <p style="text-justify:inherit;">
                            To contribute to the success and growth of both businesses & individuals by improving their operational effectiveness, building their internal capabilities, 
                            and by giving them appropriate and up to date solutions, that result in client's profitability and long-term sustainability.
                        </p>
                    </div>
                </div>
            </div>
        </section>


        <!--==========================
          Courses Section
        ============================-->
        <section id="hotels" class="section-with-bg wow fadeInUp">

            <div class="container">
                <div class="section-header">
                    <h2>@Resources.Main.Courses</h2>
                    <p>
                        <a href="~/Course/Index">
                            @Resources.Main.Allcourses
                        </a>
                    </p>
                </div>
                @{

                    Html.RenderPartial("~/Views/FAQ/_CoursePV.cshtml", Model.Courses);
                }
            </div>
        </section>

        <!--==========================
         Team member Section
        ============================-->
        <section id="speakers" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>@Resources.Main.TeamMember</h2>
                    <p>Here are some of our team member</p>
                </div>

                <div class="row">
                    @{

                        Html.RenderPartial("~/Views/Instractor/InstractorPMView.cshtml", Model.Instarctors);
                    }
                </div>
            </div>

        </section>


        <!--==========================
          Partiners Section
        ============================-->
        <section id="sponsors" class="section-with-bg wow fadeInUp">

            <div class="container">
                <div class="section-header">
                    <h2>@Resources.Main.OurPartners</h2>
                </div>

                <div class="row no-gutters sponsors-wrap clearfix">

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="sponsor-logo">
                            <img src="~/assets/img/Partners/Alpha.JPG" class="img-fluid" alt="Alpha" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="sponsor-logo">
                            <img src="~/assets/img/Partners/EAPB.jpeg" class="img-fluid" alt="EAPB" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="sponsor-logo">
                            <img src="" class="img-fluid" alt="" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="sponsor-logo">
                            <img src="" class="img-fluid" alt="" />
                        </div>
                    </div>

                </div>

            </div>

        </section>


        <!--==========================
          Gallery Section
        ============================-->
        <section id="gallery" class="wow fadeInUp">

            @{

                Html.RenderPartial("~/Views/Gallery/_GallaryPV.cshtml", Model.Gallary);
            }

        </section>


        <!--==========================
          F.A.Q Section
        ============================-->
        @{

            Html.RenderPartial("~/Views/FAQ/_FAQsPV.cshtml", Model.Faqs);
        }



        <!--==========================
          Contact Section
        ============================-->
        <section id="contact" class="section-bg wow fadeInUp">

            <div class="container">

                <div class="section-header">
                    <h2>Contact Us</h2>
                </div>

                <div class="row contact-info">

                    <div class="col-md-4">
                        <div class="contact-address">
                            <i class="ion-ios-location-outline"></i>
                            <h3>Address</h3>
                            <address>11B Eltharwa Almaadanya st.-1 Gate (KHOFO)- Hadayek Al-Ahram-Giza-Egypt.</address>
</div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-phone">
                            <i class="ion-ios-telephone-outline"></i>
                            <h3>Phone Number</h3>
                            <p><a href="tel:+2 0233801999">+2 0233801999</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-email">
                            <i class="ion-ios-email-outline"></i>
                            <h3>Email</h3>
                            <p><a href="mailto:info@example.com">info@iatlcegypt.com</a></p>
                        </div>
                    </div>

                </div>

                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="~/Home/SendEmailMessage" method="post" role="form" class="contactForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" rows="5" data-rule="required"
                                      data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>
        </section>

    </main>





    <!--==========================
      Footer
    ============================-->
    <!-- #footer -->

    
</body>

</html>
