@model IEnumerable<CourseSite.Models.DAL.FAQs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FAQ_QuestionEng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAQ_QuestionAra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAQ_AnswerEng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAQ_AnswerAra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAQ_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAQ_CreattonUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAQ_CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAQ_ModifiedUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAQ_ModifiedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FAQ_QuestionEng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAQ_QuestionAra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAQ_AnswerEng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAQ_AnswerAra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAQ_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAQ_CreattonUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAQ_CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAQ_ModifiedUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAQ_ModifiedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FAQ_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FAQ_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FAQ_ID })
        </td>
    </tr>
}

</table>
