@model IEnumerable<CourseSite.Models.DAL.FAQs>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = Resources.Main.List + Resources.FAQ.FAQs;
}




<div class="container">
    <h2>@Resources.Main.List  @Resources.FAQ.FAQs</h2>
    <p>
        @Html.ActionLink(@Resources.Main.CreateNew, "Create")
    </p>

    <table class="table table-hover table-striped table-bordered table-responsive table-margin-bottom-clear ">
        <tr>
            <th>
                @Resources.FAQ.QEn
            </th>
            <th>
                @Resources.FAQ.QAr
            </th>
            <th>
                @Resources.FAQ.AnsEn
            </th>
            <th>
                @Resources.FAQ.AnsAr
            </th>
            <th>
                @Resources.FAQ.QStatus
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FAQ_QuestionEng)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FAQ_QuestionAra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FAQ_AnswerEng)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FAQ_AnswerAra)
                </td>
                <td>
                    @{
                if (item.FAQ_Status)
                {
                            @Resources.Main.Active
                }
                else
                {
                            @Resources.Main.Inactive
                }
                    }
                </td>
                <td>
                    @Html.ActionLink(Resources.Main.Edit, "Edit", new { id=item.FAQ_ID })                 
                </td>
            </tr>
}

    </table>
</div>
