@model CourseSite.Models.DAL.Gallary

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Gallary</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
                @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImagePath, new { type = "file", id = "", onchange = "" })
                    @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="fileUpload btn btn-primary">
                    <span>Upload Image</span>

                    <input type="file" class="upload" onchange="readURL(this);" name="file" />
                    @*<input type="file" style="display: none;" id="my_file" name="file" />*@
                </div>
                <span id="previewPane">
                    <img class="upload" onchange="readURL(this);" name="file" id="img_prev" src="~/Uploads/Gallary/defaultcourse.jpg" alt="your image" style="width:250px;height:250px">
                </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ImageStatus)
                    @Html.ValidationMessageFor(model => model.ImageStatus, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>
@if (TempData["succed"] != null)
{
    <script type="text/javascript">
        $(function () {

            toastr.success('@TempData["succed"]');
        })
    </script>
}
@if (TempData["error"] != null)
{
    <script type="text/javascript">
        $(function () {

            toastr.error(' @TempData["error"]');
        })
    </script>
}
<script>

    var blank = "http://upload.wikimedia.org/wikipedia/commons/c/c0/Blank.gif";

    function readURL(input) {

        if (input.files && input.files[0]) {

            var reader = new FileReader();
            reader.onload = function (e) {

                $('#img_prev')

                    .attr('src', e.target.result)

                    .height(200);

            };
            reader.readAsDataURL(input.files[0]);

        }

        else {

            var img = input.value;

            $('#img_prev').attr('src', img).height(200);

        }

        $("#x").show().css("margin-right", "10px");

    }

    $(document).ready(function () {

        $("#x").click(function () {

            $("#img_prev").attr("src", blank);

            $("#x").hide();

        });

    });
</script>
<style type="text/css">
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

    .field-validation-error {
        color: #a94442;
    }
</style>