@model CourseSite.Models.DAL.Customerabsent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customerabsent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customerabsent_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customerabsent_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customerabsent_ISabsent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customerabsent_ISabsent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupCustomers.GroupCustomer_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupCustomers.GroupCustomer_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Customerabsent_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
