@model IEnumerable<CourseSite.Models.DAL.Customerabsent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customerabsent_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customerabsent_ISabsent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupCustomers.GroupCustomer_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customerabsent_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customerabsent_ISabsent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupCustomers.GroupCustomer_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Customerabsent_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Customerabsent_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Customerabsent_ID })
        </td>
    </tr>
}

</table>
