@model IEnumerable<CourseSite.Models.DAL.Instractors>

@{
    ViewBag.Title = Resources.Instractors.InstractorsTitle;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>
<p>
    <span class="glyphicon glyphicon-plus"></span>
    @Html.ActionLink(Resources.Main.CreateNew, "Create")&nbsp;
    <span class="glyphicon glyphicon-refresh"></span>
    @Html.ActionLink("Refresh Offloading", "Index") &nbsp;
</p>
<div class="table table-responsive">
    <table class="table table-hover table-striped table-bordered table-margin-bottom-clear ">
        <tr>
            @if (CourseSite.Common.UImanger.CurrentLang == "en")
            {
                <th class="text-center" style="background-color: #CED8F6;">
                    @Html.DisplayNameFor(model => model.Instractor_EngName)
                </th>
            }
            else
            {
                <th class="text-center" style="background-color: #CED8F6;">
                    @Html.DisplayNameFor(model => model.Instractor_AraName)
                </th>
            }
            <th class="text-center" style="background-color: #CED8F6;"></th>

            @foreach (var item in Model)
            {
            <tr>
                @if (CourseSite.Common.UImanger.CurrentLang == "en")
                {
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Instractor_EngName)
                    </td>
                }
                else
                {
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Instractor_AraName)
                    </td>
                }

                <td class="text-center">
                    @Html.ActionLink(Resources.Main.Edit+" ", "", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit btn btn-primary" })

                </td>
            </tr>
            }

        </table>
    </div>