@model IEnumerable<CourseSite.Models.DAL.Courses>


@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course_EngName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_AraName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_VedioPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_ImgePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_ImagePath2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_EngObjective)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_AraObjective)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_EngSummary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_AraSummary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_ArabicContentPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_EnglishContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_TotalHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_OrignalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_CreationUsers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_ModifyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_modifyUsers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_status.Status_EngName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course_EngName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_AraName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_VedioPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_ImgePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_ImagePath2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_EngObjective)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_AraObjective)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_EngSummary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_AraSummary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_ArabicContentPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_EnglishContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_TotalHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_OrignalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_CreationUsers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_ModifyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_modifyUsers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_status.Status_EngName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
@foreach (var item in Model)
{


<div class="row">

    <div class="col-lg-4 col-md-6">
        <div class="hotel">
            <div class="hotel-img">
                <img src="~/assets/img/hotels/1.jpg" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="#">@item.Course_EngName</a></h3>
            @*<div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>*@
            <p>@item.Course_EngSummary </p>
            @Html.ActionLink("Details", "Course", new { id = item.ID , @class = "btn btn-success righ"})
            @*<button type="submit" class="btn btn-success righ" style="margin-bottom:3px; margin-left:3px"> Details </button>*@
        </div>

    </div>

</div>
}