@model IEnumerable<CourseSite.Models.DAL.schedules>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Schedule_GroupID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule_DatetimeFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule_DateTimeTo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule_GroupID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule_DatetimeFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule_DateTimeTo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Schedule_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.Schedule_ID }) |
            <a href="~/schedules/Delete/@item.Schedule_ID" class="btn btn-warning" onclick="return confirm('Are you sure you want to delete this schedule?');">
                Delete
            </a>
        </td>
    </tr>
}

</table>
